.inputDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.errorMessage {
  color: var(--lightred);
  font-weight: 400;
  font-style: italic;
  font-size: var(--small-font);
}