/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  /* primary */
  --purple: hsl(259, 100%, 65%);
  --lightred: hsl(0, 100%, 67%);
  /* neutral */
  --white: hsl(0, 0%, 100%);
  --offwhite: hsl(0, 0%, 94%);
  --lightgrey: hsl(0, 0%, 86%);
  --smokeygrey:  hsl(0, 1%, 44%);
  --offblack: hsl(0, 0%, 8%);
 
  --breakpoint: 600px;

  background-color: var(--offwhite);
  color: var(--offblack);
  min-width: 375px;
  min-height: 100vh;
}

body {
  @media (min-width: 600px) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
}