.numberInput {
  display: flex;
  flex-direction: column;
}

.numberInput label {
  text-transform: uppercase;
}

.inputBox {
  border-radius: 5px;
  font-size: 2rem;
  border: 1px solid var(--lightgrey);
}

.error {
  border: 1px solid var(--lightred);
}

.inputBox:focus {
  outline: 1px solid var(--purple);
}
