.main {
    background-color: var(--white);
    /* design shows it centered vertically on desktop, but not on mobile */
    margin: 5rem 15px;
    border-radius: 25px 25px 75px;
    padding: 2rem 20px;
}
